<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>TSI2 - Practico</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/semantic.min.css">
    <script src="js/jquery.js"></script>
    <script src="js/semantic.min.js"></script>
    <script src="js/vue.js"></script>
</head>

<body>
    <div id="app">
        <app-nav></app-nav>
    </div>
    <script type="text/x-template" id="app-nav-template">
        <div>
            <div class="ui secondary menu">
                <h3 class="ui header item"><i class="grey home icon"></i>Practico1</h3>
                <div class="right menu" v-if="autenticado">
                    <p class="ui header small item grey">{{usuarioSesion}}</p>
                    <button type="submit" class="ui button large icon basic item"><i class="sign out icon"></i>Logout</button>
                </div>
            </div>
            <div class="ui center aligned container" style="padding: 48px; padding-top: 64px" id="listado">
                <app-inicio :mostrar="!autenticado"></app-inicio>
                <app-usuario :mostrar="usuario"></app-usuario>
                <app-admin :mostrar="admin"></app-admin>
            </div>
        </div>
    </script>
    <script type="text/x-template" id="app-inicio-template">
        <div class="ui text container" v-show="mostrar">
            <div class="ui icon error message" id="errorPermiso" style="display: none">
                <i class="warning circle icon"></i>
                <i class="close icon"></i>
                <div class="content">
                    <div class="header">
                        Acceso restringido para administradores.
                    </div>
                    <p>Es posible que no tengas los privilegios adecuados para acceder a esa url.</p>
                </div>
            </div>
            <div class="ui icon error message" id="errorSesion" style="display: none">
                <i class="warning circle icon"></i>
                <i class="close icon"></i>
                <div class="content">
                    <div class="header">
                        Inicio de sesi&oacute;n requerido.
                    </div>
                    <p>Debes haberte autenticado para tener acceso a esa secci&oacute;n.</p>
                </div>
            </div>
            <div class="ui icon error message" id="errorUsuario" style="display: none">
                <i class="warning circle icon"></i>
                <i class="close icon"></i>
                <div class="content">
                    <div class="header">
                        Credenciales invalidas.
                    </div>
                    <p>El usuario con el que intentas acceder no existe, o las credenciales son incorrectas.</p>
                </div>
            </div>
            <div class="ui stackable grid container" id="login">
                <div class="sixteen wide column">
                    <div class="ui segments">
                        <div class="ui grey segment">
                            <h4 class="ui header blue text horizontal divider" style="padding: 10px">Iniciar sesi&oacute;n</h4>
                            <div class="ui labeled fluid input">
                                <div class="ui basic label">Username:</div>
                                <input v-model="usernameLogin" type="text" name="username" required placeholder="Ingrese su username o nombre de usuario...">
                            </div>
                            <div class="ui labeled fluid input" style="margin-top: 16px">
                                <div class="ui basic label">Contrase&ntilde;a:</div>
                                <input v-model="passwordLogin" name="password" type="password" placeholder="Ingrese su password..." required>
                            </div>
                        </div>
                        <div class="ui secondary center aligned segment">
                            <button @click="autenticarUsuario" class="ui compact big positive button"><i class="sign in icon"></i>Ingresar</button>
                        </div>
                    </div>
                </div>
                <div class="sixteen wide column" style="padding: 40px">
                    <div class="ui center aligned basic segment">
                        <button class="ui inverted grey big button" style="color: #787878" @click="mostrarRegistrarse"><i class="signup icon"></i>Registrarse</button>
                    </div>
                </div>
            </div>
            <div class="ui stackable grid container" id="registrarse" style="display: none">
                <div class="sixteen wide column">
                    <div class="ui segments">
                        <div class="ui grey segment">
                            <h4 class="ui header blue text horizontal divider" style="padding: 10px">Registrarse</h4>
                            <div class="ui labeled fluid input" style="margin-top: 16px">
                                <div class="ui basic label">Nombre:</div>
                                <input v-model="nombre" type="text" placeholder="Ingrese un nombre...">
                            </div>
                            <div class="ui labeled fluid input" style="margin-top: 16px">
                                <div class="ui basic label">Apellido:</div>
                                <input v-model="apellido" type="text" placeholder="Ingrese un apellido...">
                            </div>
                            <div class="ui labeled fluid input" style="margin-top: 16px">
                                <div class="ui basic label">Username:</div>
                                <input v-model="username" type="text" placeholder="Ingrese un username o nombre de usuario...">
                            </div>
                            <div class="ui labeled fluid input" style="margin-top: 16px">
                                <div class="ui basic label">Email:</div>
                                <input v-model="email" type="email" placeholder="Ingrese un email...">
                            </div>
                            <div class="ui labeled fluid input" style="margin-top: 16px">
                                <div class="ui basic label">Contrase&ntilde;a:</div>
                                <input v-model="password" type="password" placeholder="Ingrese una contrase&ntilde;a...">
                            </div>
                        </div>
                        <div class="ui secondary center aligned segment">
                            <button class="ui compact big positive button" @click="registrarUsuario"><i class="signup icon"></i>Confirmar</button>
                        </div>
                    </div>
                </div>
                <div class="sixteen wide column" style="padding: 40px">
                    <div class="ui center aligned basic segment">
                        <button class="ui inverted grey big button" style="color: #787878" @click="mostrarLogin"><i class="arrow left icon"></i>Volver al Login</button>
                    </div>
                </div>
            </div>
            <div class="ui active page dimmer" id="dimmer2" style="display: none">
            <div class="content">
                <div class="center">
                    <div class="row" id="exitoUsuario" style="display: none">
                        <h1 class="ui header inverted text">Usuario ingresado correctamente!</h1>
                        <h3 class="ui header inverted text small">A continuaci&oacute;n se iniciar&aacute; sesi&oacute;n</h3>
                        <button class="ui icon button circular inverted large green" @click="ocultarDimmer"><i class="checkmark large icon"></i></button>
                    </div>
                    <div class="row" id="errorUsuario" style="display: none">
                        <h1 class="ui header inverted text">No se ha podido ingresar el usuario.</h1>
                        <h3 class="ui header inverted small text">Es posible que el nombre de usuario ya est&eacute; tomado.</h3>
                        <button class="ui icon button circular inverted large red" @click="ocultarDimmer"><i class="warning large icon"></i></button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </script>
    <script type="text/x-template" id="app-admin-template">
        <div v-show="mostrar">
            <div class="ui center aligned container" id="listadoAdmin">
                <h1 class="ui header text icon title green horizontal divider" style="padding: 16px"><i class=" users grey icon"></i>Usuarios</h1>
                <div class="ui text container">
                    <div class="ui fluid icon input">
                        <i class="search link icon"></i>
                        <input v-model="filtro" type="text" placeholder="Buscar por username...">
                    </div>
                </div>
                <div class="ui right aligned basic segment" style="padding-top: 48px">
                    <button class="ui button" @click="mostrarRoles"><i class="tags icon"></i>Crear Rol</button>
                    <button class="ui positive button" @click="mostrarNuevo"><i class="add user icon"></i>Crear Usuario</button>
                </div>
                <table class="ui celled very basic selectable table">
                    <thead>
                        <tr class="ui small header">
                            <th style="width: 30%">Username</th>
                            <th>Email</th>
                            <th style="width: 20%">Rol</th>
                        </tr>
                    </thead>
                    <tbody id="usuariosList"></tbody>
                    <tfoot>
                        <tr>
                            <th colspan="3">
                                <div class="ui right floated pagination menu">
                                    <a class="icon item" @click="cargarUsuariosAnterior">
                                        <i class="left chevron icon"></i>
                                    </a>
                                    <a id="pag" class="disabled item header">1</a>
                                    <a class="icon item" @click="cargarUsuariosSiguiente">
                                        <i class="right chevron icon"></i>
                                    </a>
                                </div>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="ui center aligned container" style="display: none" id="nuevo">
                <h1 class="ui header text icon title green horizontal divider" style="padding: 16px"><i class="add user grey icon"></i>Usuario Nuevo</h1>
                <div class="ui text container" style="padding: 20px">
                    <div class="ui fluid labeled input">
                        <div class="ui basic label">Nombre</div>
                        <input v-model="nombreNuevo" type="text" placeholder="Ingrese aquí el nombre...">
                    </div>
                    <div class="ui fluid labeled input" style="margin-top: 16px">
                        <div class="ui basic label">Apellido</div>
                        <input v-model="apellidoNuevo" type="text" placeholder="Ingrese aquí el apellido...">
                    </div>
                    <div class="ui fluid labeled input" style="margin-top: 16px">
                        <div class="ui basic label">Username</div>
                        <input v-model="usernameNuevo" type="text" placeholder="Ingrese aquí el username...">
                    </div>
                    <div class="ui fluid labeled input" style="margin-top: 16px">
                        <div class="ui basic label">Email</div>
                        <input v-model="emailNuevo" type="text" placeholder="Ingrese aquí el email...">
                    </div>
                    <div class="ui fluid labeled input" style="margin-top: 16px">
                        <div class="ui basic label">Contraseña</div>
                        <input v-model="passwordNuevo" type="password" placeholder="Ingrese aquí la contraseña...">
                    </div>
                    <h3 class="ui horizontal divider sub header text green" style="padding: 16px">rol</h3>
                    <select v-model="rolSeleccionado" id="rolSeleccionado" class="ui fluid dropdown"></select>
                    <div class="row" style="padding: 30px">
                        <button class="ui button" @click="mostrarListado"><i class="left arrow icon"></i>Volver al listado</button>
                        <button class="ui positive button" @click="registrarUsuario"><i class="checkmark icon"></i>Confirmar</button>
                    </div>
                </div>
            </div>
            <div class="ui center aligned container" style="display: none" id="roles">
                <h1 class="ui header text icon title green horizontal divider" style="padding: 16px"><i class="tags grey icon"></i>Rol Nuevo</h1>
                <div class="ui text container" style="padding: 20px">
                    <div class="ui fluid labeled input">
                        <div class="ui basic label">Nombre</div>
                        <input v-model="rolNuevo" type="text" placeholder="Ingrese aquí el nombre...">
                    </div>
                    <div class="ui reply form" style="margin-top: 16px">
                        <div class="field">
                            <textarea v-model="descripcionNuevo" cols="30" style="min-height: 100px; max-width: 100%; min-width: 100%; max-height: 150px" maxlength="1024" placeholder="Escriba aquí una descripción para el rol..."></textarea>
                        </div>
                    </div>
                    <div class="row" style="padding: 30px">
                        <button class="ui button" @click="mostrarListadoRoles"><i class="left arrow icon"></i>Volver al listado</button>
                        <button class="ui positive button" @click="crearRol"><i class="checkmark icon"></i>Confirmar</button>
                    </div>
                </div>
            </div>
            <div class="ui active page dimmer" id="dimmer2" style="display: none">
                <div class="content">
                    <div class="center">
                        <div class="row" id="exitoRol" style="display: none">
                            <h1 class="ui header inverted text">Rol creado correctamente!</h1>
                            <button class="ui icon button circular inverted large green" @click="ocultarDimmer"><i class="checkmark large icon"></i></button>
                        </div>
                        <div class="row" id="exitoUsuario" style="display: none">
                            <h1 class="ui header inverted text">Usuario ingresado correctamente!</h1>
                            <button class="ui icon button circular inverted large green" @click="ocultarDimmer"><i class="checkmark large icon"></i></button>
                        </div>
                        <div class="row" id="errorUsuario" style="display: none">
                            <h1 class="ui header inverted text">No se ha podido ingresar el usuario.</h1>
                            <button class="ui icon button circular inverted large red" @click="ocultarDimmer"><i class="warning large icon"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui small modal">
                <div class="ui icon header green"><i class="user circle outline black icon"></i><span>{{usernameMod}}</span></div>
                <div class="content">
                    <div class="ui inverted active loading dimmer" style="display: block" id="dimmer">
                        <div class="content">
                            <div class="center">
                                <div class="ui text loader large" id="loaderM" style="display: block">Cargando información...</div>
                                <div class="ui blurring basic segment" id="confirmation" style="display: none">
                                    <h2 class="ui header text">Se eliminará el usuario <span class="ui green text header small">{{usuarioActual}}</span>.</h2>
                                    <h3 class="ui header text grey">&iquest;Confirmar?</h3>
                                    <button class="ui button" @click="ocultarDimmerModal">Cancelar</button>
                                    <button class="ui black button" @click="eliminarUsuario">Eliminar</button>
                                </div>
                                <div class="ui blurring basic segment" id="exitoDel" style="display: none">
                                    <h2 class="ui header text">El usuario ha sido eliminado.</h2>
                                    <button class="ui icon circular button inverted green large" @click="ocultarDimmerModal"><i class="checkmark icon large"></i></button>
                                </div>
                                <div class="ui blurring basic segment" id="exitoMod" style="display: none">
                                    <h2 class="ui header text">Información actualizada correctamente!</h2>
                                    <button class="ui icon circular button inverted green large" @click="ocultarDimmerModal"><i class="checkmark icon large"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui fluid labeled input">
                        <div class="ui basic label">Nombre</div>
                        <input v-model="nombreMod" type="text" placeholder="Ingrese aquí el nombre del usuario...">
                    </div>
                    <div class="ui fluid labeled input" style="margin-top: 16px">
                        <div class="ui basic label">Apellido</div>
                        <input v-model="apellidoMod" type="text" placeholder="Ingrese aquí el apellido del usuario...">
                    </div>
                    <div class="ui fluid labeled input" style="margin-top: 16px">
                        <div class="ui basic label">Email</div>
                        <input v-model="emailMod" type="text" placeholder="Ingrese aquí el email del usuario...">
                    </div>
                    <div class="ui fluid labeled input" style="margin-top: 16px">
                        <div class="ui basic label">Contraseña</div>
                        <input v-model="passwordMod" type="password" placeholder="Ingrese aquí una contraseña..">
                    </div>
                    <select v-model="rolMod" id="rolMod" class="ui fluid dropdown" style="margin-top: 16px"></select>
                </div>
                <div class="actions">
                    <div class="ui cancel red inverted button" @click="mostrarConfirmacion">Eliminar</div>
                    <div class="ui approve positive button" @click="modificarUsuario">Guardar cambios</div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/x-template" id="app-usuario-template">
        <div v-show="mostrar">
            <div class="ui text center aligned container" id="loader" style="padding: 48px; padding-top: 64px">
                <div class="ui basic segment" style="padding: 100px">
                    <div class="ui active inverted dimmer">
                        <div class="ui text large loader">Cargando información...</div>
                    </div>
                </div>
            </div>
            <div class="ui text center aligned container" id="coso" style="padding: 48px; padding-top: 64px; display: none">
                <div class="ui icon header huge">
                    <i class="user circle grey icon"></i>
                    <h1 class="ui header green text">{{name}}</h1>
                    <h3 class="ui grey header" style="margin-top: 0px">{{email}}</h3>
                    <h5 class="ui sub header" style="margin-top: -5px">{{date}}</h5>
                </div>
                <div class="ui divider"></div>
                <h5 class="ui sub grey header">rol</h5>
                <h1 class="ui grey header" style="margin-top: 0px">{{rol}}</h1>
                <h6 class="ui sub grey header small">username</h6>
                <h2 class="ui grey header" style="margin-top: 0px">{{usern}}</h2>
            </div>
        </div>
    </script>
    <script th:inline="javascript">
        var bus = new Vue();
        Vue.component('app-nav', {
            template: '#app-nav-template',
            data: function() {
                return {
                    autenticado: false,
                    usuario: false,
                    admin: false,
                    usuarioSesion: ''
                };
            },
            methods: {
                sesionUsuario: function(usuario) {
                    var user = [[${username}]];
                    if(user === "null" || user === null){
                        user = usuario;
                    }
                    if (user === undefined || user === "" || user === "null") {
                        this.autenticado = false;
                    } else {
                        this.autenticado = true;
                        this.usuarioSesion = user;
                        var rol = [[${rol}]];
                        alert("rol antes del if: " + rol);
                        if (rol !== "null" && rol !== "") {
                            if (rol === "Admin") {
                                this.admin = true;
                            } else {
                                this.usuario = true;
                            }
                        }
                    }
                    alert(user);
                },
                logout: function() {
                    $.post("http://localhost:8080/web-spa/logout", function(response){
                        if(response !== undefined){
                            if(response === true){
                                this.autenticado = false;
                                this.usuario = false;
                                this.admin = false;
                            }
                        }
                    });
                }
            },
            mounted: function() {
                this.sesionUsuario(undefined);
            },
            created: function(){
                var _this = this;
                bus.$on('autenticacion', function(usuario){
                    _this.sesionUsuario(usuario);
                });
            }
        });
        Vue.component('app-usuario', {
            template: '#app-usuario-template',
            props: ['mostrar'],
            data: function() {
                return {
                    name: '',
                    email: '',
                    date: '',
                    rol: '',
                    usern: ''
                };
            },
            methods: {
                getUsuario: function() {
                    var user = [[${username}]];
                    if (user !== "null" && user !== "") {
                        $.get("http://localhost:8080/web/api/usuarios/" + user, function(usuario) {
                            if (usuario !== undefined) {
                                this.name = usuario.name + " " + usuario.lastname;
                                this.email = usuario.email;
                                this.date = usuario.creationDate;
                                this.rol = usuario.roleid.name;
                                this.usern = usuario.username;
                                setTimeout(ocultarLoader(), 1300);
                            }
                        });
                    }
                },
                ocultarLoader: function() {
                    $('#loader').transition({
                        animation: 'fade down',
                        onComplete: function() {
                            $('#coso').transition('fade up');
                        }
                    });
                }
            },
            mounted: function() {
                this.getUsuario();
            }
        });
        Vue.component('app-inicio', {
            template: '#app-inicio-template',
            props: ['mostrar'],
            data: function() {
                return {
                    usernameLogin: '',
                    passwordLogin: '',
                    nombre: '',
                    apellido: '',
                    email: '',
                    password: '',
                    username: ''
                };
            },
            methods: {
                mostrarRegistrarse: function() {
                    $('#login').transition({
                        animation: 'fade down',
                        onComplete: function() {
                            $('#registrarse').transition('fade up');
                        }
                    });
                },
                mostrarLogin: function() {
                    $('#registrarse').transition({
                        animation: 'fade down',
                        onComplete: function() {
                            $('#login').transition('fade up');
                        }
                    });
                },
                autenticarUsuario: function() {
                    if(this.usernameLogin !== "" && this.passwordLogin !== ""){
                        var usuario = this.usernameLogin;
                        $.post("http://localhost:8080/web-spa/login", "username=" + this.usernameLogin + "&password=" + this.passwordLogin, function(response){
                            if(response !== undefined){
                                if (response === true || response === "true") {
                                    bus.$emit('autenticacion', usuario);
                                }
                            }
                        });
                    }
                },
                registrarUsuario: function() {
                    $.post("http://localhost:8080/web/api/usuarios?nombre=" + this.nombre + "&apellido=" + this.apellido + "&username=" + this.username + "&email=" + this.email + "&password=" + this.password + "&rol=1", function(response) {
                        if (response !== undefined) {
                            if (response === true || response === "true") {
                                $('#dimmer2').transition('fade up');
                                document.getElementById("exitoUsuario").style.display = "block";
                                document.getElementById("errorUsuario").style.display = "none";
                            }
                        }
                    });
                },
                mostrarExitoUsuario: function() {
                    $('#dimmer2').transition('fade');
                    document.getElementById("exitoUsuario").style.display = "block";
                    document.getElementById("errorUsuario").style.display = "none";
                },
                mostrarErrorUsuario: function() {
                    $('#dimmer2').transition('fade');
                    document.getElementById("exitoUsuario").style.display = "none";
                    document.getElementById("errorUsuario").style.display = "block";
                },
                ocultarDimmer: function() {
                    $('#dimmer2').transition('fade');
                    document.getElementById("exitoUsuario").style.display = "block";
                    document.getElementById("errorUsuario").style.display = "none";
                }
            }
        });
        Vue.component('app-admin', {
            template: '#app-admin-template',
            props: ['mostrar'],
            data: function() {
                return {
                    filtro: '',
                    nombreNuevo: '',
                    apellidoNuevo: '',
                    usernameNuevo: '',
                    passwordNuevo: '',
                    emailNuevo: '',
                    rolSeleccionado: '',
                    rolNuevo: '',
                    descripcionNuevo: '',
                    nombreMod: '',
                    apellidoMod: '',
                    emailMod: '',
                    passwordMod: '',
                    rolMod: '',
                    usuarioActual: '',
                    usernameMod: ''
                };
            },
            methods: {
                registrarUsuario: function() {
                    if (this.rolSeleccionado !== undefined && this.usernameNuevo !== undefined && this.usernameNuevo !== "") {
                        $.post("http://localhost:8080/web/api/usuarios?nombre=" + this.nombreNuevo + "&apellido=" + this.apellidoNuevo + "&username=" + this.usernameNuevo + "&email=" + this.emailNuevo + "&password=" + this.passwordNuevo + "&rol=" + this.rolSeleccionado, function(response) {
                            if (response !== undefined) {
                                if (response === true) {
                                    this.nombreNuevo = "";
                                    this.apellidoNuevo = "";
                                    this.usernameNuevo = "";
                                    this.emailNuevo = "";
                                    this.passwordNuevo = "";
                                    this.rolSeleccionado = "";
                                    this.mostrarListado();
                                    this.mostrarExitoUsuario();
                                    this.cargarUsuarios(1);
                                }
                            }
                        });
                    }
                },
                eliminarUsuario: function() {
                    if (this.usuarioActual !== undefined && this.usuarioActual !== "") {
                        var url = "http://localhost:8080/web/api/usuarios/" + this.usuarioActual;
                        $.ajax({
                            url: url,
                            type: 'DELETE',
                            success: function(response) {
                                if (response !== undefined) {
                                    if (response === true) {
                                        $('#exitoDel').transition('fade up');
                                    }
                                }
                            }
                        });
                    }
                },
                modificarUsuario: function() {
                    var params = "username=" + this.usernameMod + "&nombre=" + this.nombreMod + "&apellido=" + this.apellidoMod + "&email=" + this.emailMod + "&password=" + this.passwordMod + "&rol=" + this.rolMod;
                    $.ajax({
                        url: 'http://localhost:8080/web/api/usuarios',
                        type: 'PUT',
                        data: params,
                        success: function(response) {
                            if (response !== undefined) {
                                if (response === true) {
                                    $('#exitoMod').transition('fade up');
                                }
                            }
                        }
                    });
                },
                cargarUsuario: function(username) {
                    if (username !== undefined && username !== "") {
                        $('.small.modal').modal({
                            blurring: true
                        }).modal('show');
                        $.get("http://localhost:8080/web/api/usuarios/" + username, function(usuario) {
                            if (usuario !== undefined) {
                                setTimeout(function() {
                                    this.nombreMod = usuario.name;
                                    this.apellidoMod = usuario.lastname;
                                    this.emailMod = usuario.email;
                                    this.passwordMod = usuario.password;
                                    this.usernameMod = usuario.username;
                                    this.rolMod = usuario.roleid.id;
                                    this.ocultarDimmerModal();
                                }, 1000);
                            }
                        });
                    }
                },
                cargarUsuarios: function(pagina) {
                    if (pagina === undefined) {
                        pagina = 1;
                    }
                    $.get("http://localhost:8080/web/api/usuarios?filtro=" + this.filtro + "&pagina=" + pagina, function(response) {
                        if (response !== undefined) {
                            while (document.getElementById("usuariosList").hasChildNodes()) {
                                document.getElementById("usuariosList").removeChild(document.getElementById("usuariosList").lastChild);
                            }
                            $.each(response, function(index, usuario) {
                                var tr = document.createElement("tr");
                                tr.addEventListener("dblclick", function() {
                                    cargarUsuario(usuario.username);
                                });
                                var td1 = document.createElement("td");
                                td1.innerHTML = usuario.username;
                                var td2 = document.createElement("td");
                                td2.innerHTML = usuario.email;
                                var td3 = document.createElement("td");
                                td3.innerHTML = usuario.roleid.name;
                                tr.appendChild(td1);
                                tr.appendChild(td2);
                                tr.appendChild(td3);
                                document.getElementById("usuariosList").appendChild(tr);
                            });
                        }
                    });
                },
                cargarUsuariosSiguiente: function() {
                    if (document.getElementById("usuariosList").childNodes.length > 0) {
                        this.cargarUsuarios((Number(document.getElementById("pag").innerHTML) + 1));
                        document.getElementById("pag").innerHTML = (Number(document.getElementById("pag").innerHTML) + 1).toString();
                    }
                },
                cargarUsuariosAnterior: function() {
                    var paginaActual = Number(document.getElementById("pag").innerHTML);
                    if (paginaActual > 1) {
                        this.cargarUsuarios((paginaActual - 1));
                        document.getElementById("pag").innerHTML = (paginaActual - 1).toString();
                    }
                },
                cargarRoles: function() {
                    $.get("http://localhost:8080/web/api/roles", function(response) {
                        if (response !== undefined) {
                            while (document.getElementById("rolSeleccionado").hasChildNodes()) {
                                document.getElementById("rolSeleccionado").removeChild(document.getElementById("rolSeleccionado").lastChild);
                            }
                            while (document.getElementById("rolMod").hasChildNodes()) {
                                document.getElementById("rolMod").removeChild(document.getElementById("rolMod").lastChild);
                            }
                            $.each(response, function(index, rol) {
                                var option = document.createElement("option");
                                option.value = rol.id;
                                option.innerHTML = rol.name;
                                document.getElementById("rolSeleccionado").appendChild(option);
                                var option2 = document.createElement("option");
                                option2.value = rol.id;
                                option2.innerHTML = rol.name;
                                document.getElementById("rolMod").appendChild(option2);
                            });
                            var option3 = document.createElement("option");
                            option3.value = "";
                            option3.innerHTML = "Seleccione un Rol para el usuario...";
                            document.getElementById("rolSeleccionado").appendChild(option3);
                        }
                    });
                },
                crearRol: function() {
                    $.post("http://localhost:8080/web/api/roles?nombre=" + this.rolNuevo + "&descripcion=" + this.descripcionNuevo, function(response) {
                        if (response !== undefined) {
                            if (response === true) {
                                this.rolNuevo = "";
                                this.descripcionNuevo = "";
                                this.cargarRoles();
                                this.mostrarListadoRoles();
                                this.mostrarExitoRol();
                            }
                        }
                    });
                },
                mostrarNuevo: function() {
                    $('#listadoAdmin').transition({
                        animation: 'fade down',
                        onComplete: function() {
                            $('#nuevo').transition('fade up');
                        }
                    });
                },
                mostrarListado: function() {
                    $('#nuevo').transition({
                        animation: 'fade down',
                        onComplete: function() {
                            $('#listadoAdmin').transition('fade up');
                        }
                    });
                },
                mostrarRoles: function() {
                    $('#listadoAdmin').transition({
                        animation: 'fade down',
                        onComplete: function() {
                            $('#roles').transition('fade up');
                        }
                    });
                },
                mostrarListadoRoles: function() {
                    $('#roles').transition({
                        animation: 'fade down',
                        onComplete: function() {
                            $('#listadoAdmin').transition('fade up');
                        }
                    });
                },
                mostrarExitoRol: function() {
                    $('#dimmer2').transition('fade up');
                    document.getElementById("exitoRol").style.display = "block";
                    document.getElementById("exitoUsuario").style.display = "none";
                    document.getElementById("errorUsuario").style.display = "none";
                },
                mostrarExitoUsuario: function() {
                    $('#dimmer2').transition('fade up');
                    document.getElementById("exitoRol").style.display = "none";
                    document.getElementById("exitoUsuario").style.display = "block";
                    document.getElementById("errorUsuario").style.display = "none";
                },
                mostrarErrorUsuario: function() {
                    $('#dimmer2').transition('fade up');
                    document.getElementById("exitoRol").style.display = "none";
                    document.getElementById("exitoUsuario").style.display = "none";
                    document.getElementById("errorUsuario").style.display = "block";
                },
                mostrarConfirmacion: function() {
                    $('#dimmer').transition({
                        animation: 'fade up',
                        onComplete: function() {
                            this.usuarioActual = this.usernameMod;
                            document.getElementById("loaderM").style.display = "none";
                            document.getElementById("exitoDel").style.display = "none";
                            document.getElementById("exitoMod").style.display = "none";
                            $('#confirmation').transition('fade up');
                        }
                    });
                },
                ocultarDimmer: function() {
                    $('#dimmer2').transition('fade down');
                    document.getElementById("exitoRol").style.display = "none";
                    document.getElementById("exitoUsuario").style.display = "none";
                    document.getElementById("errorUsuario").style.display = "none";
                },
                ocultarDimmerModal: function() {
                    $('#dimmer').transition('fade down');
                    document.getElementById("loaderM").style.display = "none";
                    document.getElementById("exitoDel").style.display = "none";
                    document.getElementById("exitoMod").style.display = "none";
                    document.getElementById("confirmation").style.display = "none";
                }
            }
        });

        var app = new Vue({
            el: '#app',
            data: {
                autenticado: true,
                admin: false,
                usuario: false,
                username: ''
            }
        });
        $(document).ready(function() {
            $('.message .close')
                .on('click', function() {
                    $(this)
                        .closest('.message')
                        .transition('fade down');
                });
            $('.ui.dropdown').dropdown();
        });

    </script>
</body>

</html>
